
*{
  margin: 0;
  padding: 0;
}

  @font-face {
    font-family: 'Raleway';
   src: url("./fonts/Raleway-Medium.ttf");
  }

  @font-face {
    font-family: 'OpenSans-Light';
   src: url("./fonts/OpenSans-Light.ttf");
  }

  @font-face {
    font-family: 'OpenSans-Regular';
   src: url("./fonts/OpenSans-Regular.ttf");
  }



body {
  background-color: #FFFCFA;
}

header {
  background-color:white;
  box-shadow:
  0px 0.3px 5.3px rgba(0, 0, 0, 0.02),
  0px 1.1px 17.9px rgba(0, 0, 0, 0.03),
  0px 5px 80px rgba(0, 0, 0, 0.05)
;
padding:10px;
width:80%;
margin: 0 auto;
border-radius:15px;
}

h1{
  color: #33BBC5;
  text-align: center;
  padding-bottom: 10px;
  padding-top:20px;
  font-family: 'Raleway';

}

.dog{
width: 150px;
height: 150px;
border-radius: 50%;
margin: 0 auto;
display: block;
padding: 15px;
}

.paw{
  height: 300px;
  width: 300px;
  opacity: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 200px;
}

section{
  display: flex;
 padding-left:35px;
  line-height: 40px;
}

.petInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) along the cross-axis (vertically) */
  padding-top: 50px;
  width: 300px;
  
}

.infoItem {
  display: flex;
  align-items: center; /* Align items vertically within the .infoItem container */
  padding-top:15px;

}
p {
  font-size: 18px;
  padding-left: 10px;
  font-family: 'OpenSans-Light', sans-serif;
  
}
/* YourComponent.css */

.icon {
  width: 24px; /* Adjust the width of your icons */
  height: 24px; /* Adjust the height of your icons */
}

